// bower:scss
@import "sassy-maps/sass/_sassy-maps.scss";
@import "breakpoint-sass/stylesheets/_breakpoint.scss";
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower

@import "variables";

// Components
@import "base";
@import "components/hero-unit";
@import "components/hero-one";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
