.hero-one {
  & {
    text-align: center;
  }

  & > .jumbo-text {
    font-family: "Noto Sans Japanese", sans-serif;
    font-size: rem(150px);
    font-weight: 500;
    margin: rem(15px);
  }

  & > h2:last-child {
    font-weight: 300;
  }
}
